PORT = ... (8000)
DATABASE_URL = postgresql://.... 
WB_CARD_URL = https://www.wildberries.ru/__internal/u-card/cards/v4/detail?appType=1&curr=rub&dest=-1257786&spp=30&hide_vflags=4294967296&hide_dtype=15&mtype=257&lang=ru&ab_testing=false
